.e1_380 { 
	width:1347px;
	height:1290px;
	position:absolute;
}.ei1_380_72_29 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:2px;
	top:118px;
}.ei1_380_5_83 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei1_380_5_84 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:999px;
	height:165px;
	position:absolute;
	left:171px;
	top:99px;
	border-top-left-radius:82.5px;
	border-top-right-radius:82.5px;
	border-bottom-left-radius:82.5px;
	border-bottom-right-radius:82.5px;
}.ei1_380_5_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:165px;
	position:absolute;
	left:807px;
	top:327px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.ei1_380_5_86 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:165px;
	position:absolute;
	left:187px;
	top:327px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.ei1_380_5_87 { 
	background-color:rgba(81.59999817609787, 0, 255, 1);
	width:516px;
	height:165px;
	position:absolute;
	left:413px;
	top:689px;
	border-top-left-radius:82.5px;
	border-top-right-radius:82.5px;
	border-bottom-left-radius:82.5px;
	border-bottom-right-radius:82.5px;
}.ei1_380_5_88 { 
	color:rgba(0, 0, 0, 1);
	width:814px;
	height:117px;
	position:absolute;
	left:259px;
	top:123px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.ei1_380_5_89 { 
	color:rgba(255, 255, 255, 1);
	width:340px;
	height:116px;
	position:absolute;
	left:503px;
	top:714px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.ei1_380_5_90 { 
	color:rgba(0, 0, 0, 1);
	width:260px;
	height:116px;
	position:absolute;
	left:238px;
	top:352px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.ei1_380_5_91 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:58px;
	position:absolute;
	left:867px;
	top:381px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.ei1_380_72_28 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
}.ei1_380_5_92 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei1_380_5_94 { 
	color:rgba(255, 255, 255, 1);
	width:465px;
	height:39px;
	position:absolute;
	left:73px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.ei1_380_5_95 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:616px;
	top:38px;
}.ei1_380_5_97 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:812px;
	top:38px;
}.ei1_380_16_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:714px;
	top:38px;
}.ei1_380_5_98 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:910px;
	top:38px;
}.ei1_380_5_99 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:1008px;
	top:38px;
}.ei1_380_5_100 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:1106px;
	top:38px;
}.ei1_380_5_101 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:1204px;
	top:38px;
}.ei1_380_5_96 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:35px;
	height:31px;
	position:absolute;
	left:714px;
	top:38px;
}.ei1_380_72_30 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:1175px;
}.ei1_380_5_93 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei1_380_5_102 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:38px;
	position:absolute;
	left:39px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}