.e5_2 { 
	width:1345px;
	height:1290px;
	position:absolute;
}.e5_3 { 
	width:1345px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
}.e5_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:110px;
	height:109px;
	position:absolute;
	left:6px;
	top:121px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e5_5 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:77px;
	position:absolute;
	left:30px;
	top:137px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e5_6 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_7 { 
	color:rgba(255, 255, 255, 1);
	width:465px;
	height:39px;
	position:absolute;
	left:73px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e5_8 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:1175px;
}.e5_9 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_10 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:38px;
	position:absolute;
	left:39px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e5_11 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:0px;
	top:115px;
}.e5_12 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1086px;
	height:165px;
	position:absolute;
	left:131px;
	top:88px;
	border-top-left-radius:82.5px;
	border-top-right-radius:82.5px;
	border-bottom-left-radius:82.5px;
	border-bottom-right-radius:82.5px;
}.e5_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:291px;
	top:341px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e5_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:291px;
	top:538px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e5_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:291px;
	top:735px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e5_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:694px;
	top:735px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e5_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:694px;
	top:538px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e5_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:694px;
	top:341px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e5_20 { 
	color:rgba(0, 0, 0, 1);
	width:916px;
	height:96px;
	position:absolute;
	left:236px;
	top:116px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e5_21 { 
	color:rgba(0, 0, 0, 1);
	width:228px;
	height:58px;
	position:absolute;
	left:358px;
	top:370px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e5_22 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:116px;
	position:absolute;
	left:773px;
	top:341px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e5_23 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:58px;
	position:absolute;
	left:386px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e5_24 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:58px;
	position:absolute;
	left:358px;
	top:759px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e5_25 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:58px;
	position:absolute;
	left:783px;
	top:761px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e5_26 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:58px;
	position:absolute;
	left:783px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}