.e1_251 { 
	width:1345px;
	height:1290px;
	position:absolute;
}.e1_252 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:1175px;
}.e1_253 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_254 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:38px;
	position:absolute;
	left:39px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_255 { 
	width:1345px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_256 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_257 { 
	color:rgba(255, 255, 255, 1);
	width:465px;
	height:39px;
	position:absolute;
	left:73px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e1_258 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:110px;
	height:109px;
	position:absolute;
	left:6px;
	top:121px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_259 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:77px;
	position:absolute;
	left:30px;
	top:137px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e1_260 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:0px;
	top:115px;
}.e1_261 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_262 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1086px;
	height:165px;
	position:absolute;
	left:131px;
	top:88px;
	border-top-left-radius:82.5px;
	border-top-right-radius:82.5px;
	border-bottom-left-radius:82.5px;
	border-bottom-right-radius:82.5px;
}.e1_263 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:291px;
	top:341px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_264 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:291px;
	top:538px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_265 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:291px;
	top:735px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_266 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:694px;
	top:735px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_267 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:694px;
	top:538px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_268 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:694px;
	top:341px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_269 { 
	color:rgba(0, 0, 0, 1);
	width:845px;
	height:96px;
	position:absolute;
	left:306px;
	top:122px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e1_270 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:58px;
	position:absolute;
	left:370px;
	top:366px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_271 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:58px;
	position:absolute;
	left:761px;
	top:366px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_272 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:58px;
	position:absolute;
	left:334px;
	top:557px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_273 { 
	color:rgba(0, 0, 0, 1);
	width:222px;
	height:58px;
	position:absolute;
	left:364px;
	top:760px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_274 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:58px;
	position:absolute;
	left:761px;
	top:754px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_275 { 
	color:rgba(0, 0, 0, 1);
	width:232px;
	height:52px;
	position:absolute;
	left:761px;
	top:567px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}