.e1_123 { 
	width:1345px;
	height:1290px;
	position:absolute;
}.e1_124 { 
	width:1345px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_125 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_126 { 
	color:rgba(255, 255, 255, 1);
	width:465px;
	height:39px;
	position:absolute;
	left:73px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e1_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:110px;
	height:109px;
	position:absolute;
	left:6px;
	top:121px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_128 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:77px;
	position:absolute;
	left:30px;
	top:137px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e1_129 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:0px;
	top:115px;
}.e1_130 { 
	width:1345px;
	height:1060px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_131 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1086px;
	height:165px;
	position:absolute;
	left:130px;
	top:88px;
	border-top-left-radius:82.5px;
	border-top-right-radius:82.5px;
	border-bottom-left-radius:82.5px;
	border-bottom-right-radius:82.5px;
}.e1_132 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:290px;
	top:341px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_133 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:290px;
	top:538px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_134 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:290px;
	top:735px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:693px;
	top:735px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_136 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:693px;
	top:538px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_137 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:363px;
	height:109px;
	position:absolute;
	left:693px;
	top:341px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.e1_138 { 
	color:rgba(0, 0, 0, 1);
	width:1014px;
	height:96px;
	position:absolute;
	left:166px;
	top:122px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e1_139 { 
	color:rgba(0, 0, 0, 1);
	width:228px;
	height:58px;
	position:absolute;
	left:357px;
	top:366px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_140 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:58px;
	position:absolute;
	left:378px;
	top:563px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_141 { 
	color:rgba(0, 0, 0, 1);
	width:243px;
	height:58px;
	position:absolute;
	left:350px;
	top:760px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_142 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:58px;
	position:absolute;
	left:807px;
	top:761px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_143 { 
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:58px;
	position:absolute;
	left:818px;
	top:563px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_144 { 
	color:rgba(0, 0, 0, 1);
	width:261px;
	height:116px;
	position:absolute;
	left:752px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_145 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:1175px;
}.e1_146 { 
	width:1345px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_147 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:38px;
	position:absolute;
	left:39px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}